[submodule "edk2"]
	path = edk2
	url = https://github.com/tianocore/edk2.git
	branch = master
[submodule "edk2-platforms"]
	path = edk2-platforms
	url = https://github.com/tianocore/edk2-platforms.git
	branch = master
[submodule "edk2-non-osi"]
	path = edk2-non-osi
	url = https://github.com/tianocore/edk2-non-osi.git
	branch = master
[submodule "ipxe"]
	path = ipxe
	url = https://github.com/ipxe/ipxe.git
	branch = master
[submodule "edk2-redfish-client"]
	path = edk2-redfish-client
	url = git@github.com:tianocore/edk2-redfish-client.git
