[submodule "edk2"]
	path = edk2
	url = https://github.com/tianocore/edk2.git
[submodule "platforms"]
	path = platforms
	url = https://github.com/tianocore/edk2-platforms.git
	branch = master
	head = 259a8851e54d5456a8ca2f631ab3aa4952d710fd
[submodule "non-osi"]
	path = non-osi
	url = https://github.com/tianocore/edk2-non-osi.git
	branch = master
	head = ea2040c2d4e2200557e87b9f9fbd4f8fb7a2b6e8
[submodule "redfish-client"]
	path = redfish-client
	url = https://github.com/tianocore/edk2-redfish-client.git
[submodule "ipxe"]
	path = ipxe
	url = https://github.com/ipxe/ipxe.git
	branch = master
	head = 8a8904aaddcc9497b2c3d110785b52e4d1dca336