[submodule "edk2"]
	path = edk2
	url = https://github.com/tianocore/edk2.git
	head = 4cb3e8d46721c7d3410cc347e3262a64421e913c
[submodule "platforms"]
	path = platforms
	url = https://github.com/tianocore/edk2-platforms.git
	branch = master
	head = a3a8772eaf1cb3392154f52fd641e933a71e72ce
[submodule "non-osi"]
	path = non-osi
	url = https://github.com/tianocore/edk2-non-osi.git
	branch = master
	head = ea2040c2d4e2200557e87b9f9fbd4f8fb7a2b6e8
[submodule "redfish-client"]
	path = redfish-client
	url = https://github.com/tianocore/edk2-redfish-client.git
	head = 79e6d75f7d2899f14f3207c20daca94e215d8e74
[submodule "ipxe"]
	path = ipxe
	url = https://github.com/ipxe/ipxe.git
	branch = master
	head = 8a8904aaddcc9497b2c3d110785b52e4d1dca336
[submodule "firmware"]
	path = firmware
	url = https://github.com/ARM-software/arm-trusted-firmware.git
  head = c17351450c8a513ca3f30f936e26a71db693a145
